.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  grid-template-rows: repeat(auto-fill, 4rem);
  margin: 0 auto;

  height: 100%;
  width: 100%;
  overflow: hidden;
  mask: linear-gradient(-15deg, transparent 30%, rgb(0, 0, 0));
}
.bg {
  background-color: rgb(0, 0, 0);
  margin: 0 auto;

  height: 100%;
  width: 100%;
  overflow: hidden;
}
.item {
  background-color: #121212;
  width: 4rem;
  height: 4rem;
  border-top: solid 0.01px #333333;
  border-left: solid 0.01px #333333;
  box-sizing: border-box;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Rubik", sans-serif;
  color: white;

  padding: 5rem;

  text-align: center;
  position: absolute;
  top: 16%;

  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 500;
}
.title1 {
  font-size: 4rem;
}
.title2 {
  font-size: 3rem;
}

.btnBox {
  display: flex;
  gap: 3rem;
  padding: 3rem 0rem;
}
.viewButton {
  color: #000;
  font-size: 1.4rem;
  padding: 0.5rem;
  font-family: inherit;
  padding: 0.5rem 0.8rem;
  transition: all 0.3s ease;
  border: solid 1px white;
  font-weight: 600;
}
.viewButton:hover {
  box-shadow: 0 5px 15px white;
}
.viewButton:active {
  background-color: black;
  color: white; /* Darker color for pressed effect */
  transform: translateY(
    4px
  ); /* Move the button down to simulate being pressed */
  box-shadow: inset 0 2px 4px white; /* Inner shadow to simulate depth */
}
.contactButton {
  font-size: 1.4rem;
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  font-family: inherit;
  transition: all 0.1s ease;
  font-weight: 500;
}
.contactButton:hover {
  color: white;
  box-shadow: 0 5px 15px white;
}

.contactButton:active {
  background-color: white;
  color: black; /* Darker color for pressed effect */
  transform: translateY(
    4px
  ); /* Move the button down to simulate being pressed */
  box-shadow: inset 0 2px 4px white; /* Inner shadow to simulate depth */
}
@media (max-width: 1500px) {
  .title1 {
    font-size: 2rem;
    text-align: start;
  }
  .title2 {
    font-size: 2rem;
    text-align: start;
  }
  .contactButton {
    font-size: 1.2rem;
  }
  .viewButton {
    font-size: 1.2rem;
  }
}
@media (max-width: 950px) {
  .title1 {
    font-size: 2rem;
    text-align: start;
  }
  .title2 {
    font-size: 2rem;
    text-align: start;
  }
  .contactButton {
    font-size: 1.2rem;
  }
  .viewButton {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .title {
    padding: 3rem;
    gap: 1rem;
    top: 30%;
    left: 20%;
  }
}

@media (max-width: 600px) {
  .title {
    padding: 0;
  }
  .btnBox {
    padding: 0;
  }
  .container {
    mask: linear-gradient(-15deg, transparent 0%, rgb(0, 0, 0));
  }
  @media (max-width: 950px) {
    .title1 {
      font-size: 1.2rem;
      text-align: start;
    }
    .title2 {
      font-size: 1rem;
      text-align: start;
    }
    .contactButton {
      font-size: 1rem;
    }
    .viewButton {
      font-size: 1rem;
    }
  }
}

@media (max-width: 400px) {
  .btnBox {
    gap: 0.6rem;
  }
}
